
 
body  {
 background-repeat: no-repeat; 
 background-size: cover;
 background-color: #000;
 background-image: url(http://the-lineup-new.openroadintegrat.netdna-cdn.com/app/uploads/2015/02/the-shining-twins.gif);
 }


  {
  background-color: red;
   transition: background-color 7s;*/
 }body




















